﻿@{
    ViewBag.Title = "Login2FA";
}

<div class="row" style="margin-top:80px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Anmelden - Benutzerdaten</legend>
        <form class="well" action="/Home/Login2FA" method="post">
            @if (ViewBag.ErrorMessage != "")
            {
                <div class="alert alert-danger" role="alert">
                    @ViewBag.ErrorMessage
                </div>
            }
            <legend><small>Benutzername</small></legend>
            <input type="text" name="username" value="" class="form-control" />
            <br />
            <legend><small>Passwort</small></legend>
            <input type="password" name="password" value="" class="form-control" />
            <br />
            <input type="submit" name="" value="Anmelden" class="btn btn-primary" />
        </form>
    </div>
</div>