﻿@{
    ViewBag.Title = "Login2FA";
}

<div class="row" style="margin-top:80px;">
    <div class="col-lg-8 col-lg-offset-2">
        <legend>Anmelden - Google Authenticator</legend>
        <h4>Folgenden Barcode scannen und erhaltenen Code eingeben:</h4>
        <div>
            <img src="@ViewBag.BarcodeImageUrl" />
        </div>
        <div>
            <h4>Manuelle Eingabe:</h4>
            <p>Geben Sie manuell den folgenden Code in Ihre Google Authentication App ein:</p>
            <p><b>@ViewBag.SetupCode</b></p>
        </div>
        <br /><br />
        <div>
            @using (Html.BeginForm("Verify2Fa", "Home", FormMethod.Post))
            {
                <p class="lead">Erhaltenen Code eingeben:</p>
                <input type="text" name="token" />
                <input type="submit" class="btn btn-success" />
            }
        </div>
    </div>
</div>
